.tag {padding: 0 8px; float: left; width: 60px; text-align: left; border: 1px solid #CCCCCC;}
.tag p {line-height: 8px; font-size: 12px;}

#all {text-decoration: underline;}
#piano {text-decoration: none;}
#drawing {text-decoration: none;}

.frame {margin-left: 76px;}

article {display: inline-block; margin: 0 2%; margin-bottom: 8px; padding: 8px; padding-bottom: 0; width: 80%; border: 1px solid #CCCCCC;}
article p {line-height: 4px;}
article img {width: 80%;}
article iframe {width: 80% !important; height: auto !important;}

@media (min-width: 480px) {
	article {width: 40%; margin: 0 1.5%; margin-bottom: 8px;}
}

@media (min-width: 720px) {
	article {width: 20%; margin: 0 0.5%; margin-bottom: 8px;}
}