body {
	margin: 0;
}

.header-wrap {
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 10;
	top: 0;
	font-family: sans-serif;
	font-weight: 600;
	background: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

.container {
	position: relative;
  	min-width: 280px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	padding: 0;
}
	
#logo {
	position: absolute;
  	width: 100%;
	top: 23%;
	margin: 0;
	font-size: 28px;
	text-align: center;
}

@media (min-width: 600px){
	#logo {
  		width: 260px;
		display: inline;
		text-align: left;
	}
}

.current {
	border-bottom: 3px solid #555555;	
}

.topbar {
	position: absolute;
	width: 100%;
	left: -5px;
	z-index: 10;
	text-align: center;
	margin: 70px 0;
}

@media (min-width: 600px){
	.topbar {
		display: inline;
	    top: 30%;
		margin: 0;
	}
}

.topbar ul {
	display: inline;
    list-style-type: none;
	right: 50%;
}

@media (min-width: 600px){	
	.topbar ul {
		position: absolute;
	    right: 10%;
		margin: 0;
	}
}
	
.topbar ul li {
	font-size: 16px;
	padding: 8px 0;
}
	
.topbar ul li a {
	padding-bottom: 8px;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

@media (min-width: 600px){	
	.topbar ul li {
		display: inline;
		font-size: 16px;
		padding: 8px;
	}
}

.topbar ul li a:hover {
	border-bottom: 3px solid #555555;
}
	
.content-wrap {
	border-top: 1px solid #CCCCCC;
	margin-top: 264px;
}

@media (min-width: 600px){		
	.content-wrap {
		margin-top: 80px;
	}
}

main.container {
	padding-top: 20px;
	height: 100%;
}