.row1 {margin-top: 32px;}

.one-third {display: inline-block; width: 30%; margin: 0 0.3%; border: 1px solid #CCCCCC;}
.one-third p:hover {color: #555555;}
.project {text-decoration: underline;}
.one-third img {width: 80%;}

@media (min-width: 480px) {		
	.one-third p {font-size: 16px;}
}

@media (min-width: 1024px) {		
	.one-third img {width: 216px;}
}
.row2{width: 92.6%; margin: 0 auto; margin-top: 16px; text-align: left;}

.one {padding: 0 8px; display: none; border: 1px solid #CCCCCC;}
.one p {line-height: 8px;}
.one a {color: #000000; text-decoration: underline;}
.one a:hover {color: #555555;}