<!DOCTYPE html>
<html>
<head>
	<title>Johannes Lee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/static/css/about.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/events.js"></script>
</head>
<body class="body">
	<div class="header-wrap">
		<header class="container">
    		<div id="logo"><a href="/">Johannes Lee</a></div>
      		<button id="menu"><img src="/images/icon_menu.png"></button>
    		<nav>
      			<ul id="list">
        			<li><a href="/">Home</a></li>
        			<li><a class="current" href="/about">About</a></li>
     		   		<li><a href="/projects">Projects</a></li>
     		   		<li><a href="/blog">Blog</a></li>
      			</ul>
    		</nav>
		</header>
	</div>
	<div class="content-wrap">
		<div class="container">
			<section>
				<div class="about">
    				<p><strong>I'm a developer in Korea</strong><br>I'm making fast, useful applications</p>
				</div>
				<div class="row">
					<p><strong>Education</strong></p><br>
    				<p><strong>&nbsp;Dankook University, Korea</strong></p><br>
    				<p>&nbsp;Bachelor of Engineering, Computer Engineering</p><br>
					<p><strong>Related courses</strong></p><br>
    				<p>&nbsp;Data Structures Concepts</p><br>
    				<p>&nbsp;Programming Languages and Translation</p><br>
    				<p>&nbsp;Object-Oriented Programming Language</p><br>
    				<p>&nbsp;Foundations of Software Engineering</p><br>
    				<p>&nbsp;File Structures and Database Systems</p><br><br>
					<p><strong>Contact : </strong>sj202117@gmail.com</p><br>
					<p><strong>Github : </strong><a href="http://github.com/johanneslee">github.com/johanneslee</a><br>
					<p><strong>SNS : </strong><a href="http://instagram.com/pro9ram.er">Instagram.com/pro9ram.er</a></p>
				</div>
			</section>
		</main>
	</div>
	<div class="footer-wrap">
		<footer role="contentinfo" class="container">
  			<div class="footer-content">Built with HTML5, CSS3, jQuery, and Node.js.</div>
  			<div class="footer-content">Hosted on Heroku.</div>
		</footer>
	</div>
</body>
</html>