<!DOCTYPE html>
<html>
<head>
	<title>Johannes Lee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/static/css/blog.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/events.js"></script>
</head>
<body class="body">
	<div class="header-wrap">
		<header class="container">
    		<div id="logo"><a href="/">Johannes Lee</a></div>
      		<button id="menu"><img src="/images/icon_menu.png"></button>
    		<nav>
      			<ul id="list">
        			<li><a href="/">Home</a></li>
        			<li><a href="/about">About</a></li>
     		   		<li><a href="/projects">Projects</a></li>
     		   		<li><a class="current" href="/blog">Blog</a></li>
      			</ul>
    		</nav>
		</header>
	</div>
	<div class="content-wrap">
		<div class="container">
			<section>
				<div class="about">
    				<p><strong>This is my blog page</strong><br>Here is all that I've been interested in</p>
				</div>
			</section>
			<section class="album">
				<div class="tag">
					<p id="all">All(12)</p>
					<p id="piano">Piano(8)</p>
					<p id="drawing">Drawing(4)</p>					
				</div>
				<div class="frame">
					<article class="piano">
						<a href="https://youtu.be/cy_2Qve6QlA"><img src="/images/blog_piano.png"></a>
						<p>an OST</p>
						<p>2014.10.30</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/xEQRnWTRyHk"><img src="/images/blog_piano.png"></a>
						<p>Beethoven</p>
						<p>2014.11.01</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/KqX6s6hsrT0"><img src="/images/blog_piano.png"></a>
						<p>Yiruma</p>
						<p>2014.11.02</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/IxkSdBSvnQc"><img src="/images/blog_piano.png"></a>
						<p>Rachmaninoff</p>
						<p>2014.11.05</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/cSg14zl4K64"><img src="/images/blog_piano.png"></a>
						<p>Scarlatti</p>
						<p>2014.12.12</p>
    	  			</article>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/RPjy4RhTxwA"><img src="/images/blog_piano.png"></a>
						<p>Brahms</p>
						<p>2015.01.10</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/SPYtSN-G0tk"><img src="/images/blog_piano.png"></a>
						<p>Nat king cole</p>
						<p>2015.03.04</p>
    	  			</article>
					<article class="drawing">
						<img src="/images/blog_1.png">
						<p>Sketch</p>
						<p>2015.07.24</p>
    	  			</article>
					<article class="drawing">
						<img src="/images/blog_2.png">
						<p>Water color</p>
						<p>2015.08.14</p>
    	  			</article>
					<article class="drawing">
						<img src="/images/blog_3.png">
						<p>Water color</p>
						<p>2015.08.21</p>
    	  			</article>
					<article class="drawing">
						<img src="/images/blog_4.png">
						<p>Water color</p>
						<p>2015.08.21</p>
    	  			</article>
					<article class="piano">
						<a href="https://youtu.be/ReWmgeK-4I0"><img src="/images/blog_piano.png"></a>
						<p>Faure's Pavane</p>
						<p>2015.09.02</p>
    	  			</article>
				</div>
			</section>
		</main>
	</div>
	<div class="footer-wrap">
		<footer role="contentinfo" class="container">
  			<div class="footer-content">Built with HTML5, CSS3, jQuery, and Node.js.</div>
  			<div class="footer-content">Hosted on Heroku.</div>
		</footer>
	</div>
</body>
</html>